@import "style.css";

.hero {
    background-color: rgba(238, 238, 238, 0.319);
}

.hero .hero__image {
    background-image: url(images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 17.5rem;
    position: relative;

}

.hero .hero__image::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(images/image-mockups.png);
    background-size: 93%;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero__text {
    width: 100%;
    display: grid;
    align-items: center;
    place-items: center;
    text-align: center;
}

.hero__text h1 {
    margin-bottom: 1.5rem;
    line-height: 1.15;
    font-size: 2.31rem;
    font-weight: 300;
    color: var(--darkBlue);
}

.hero p {
    margin-bottom: 2.25rem;
    line-height: 1.5;
}

/* ! DESKTOP */

@media screen and (min-width: 1024px) {


    .hero {
        display: flex;
        justify-content: first baseline;
        align-items: center;
    }

    .hero .hero__image {
        height: 40rem;
        order: 2;
        flex: 3;
        background-image: url(images/bg-intro-desktop.svg) !important;
    }



    .hero .hero__text {
        display: block;
        flex: 2;
        order: 1;
        text-align: left;
    }

    #head {
        font-size: var(--font-xlg);
        /* ! 3.25 rem */
    }

    .hero__text p {
        font-size: var(--font-med);
    }

    .hero .hero__image::before {
        background-size: 75%;
    }


}





/* ! TABLETS */

@media (min-width: 670px) and (max-width: 1024px) {

    .hero__image {
        background-size: 80% !important;

    }

    .hero__image::before {
        height: 60%;
        background-size: 50% !important;
    }


}